@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans'),
		 local('OpenSans'),
		 url('../fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'OpenSans';
	src: local('OpenSans SemiBold'),
		 local('OpenSans-SemiBold'),
		 url('../fonts/OpenSans/OpenSans-SemiBold.ttf') format('opentype');
	font-weight: 600;
	font-style: normal;
}
