<header class="header">
    <div class="container">
        <a href="/" class="header__logo">
            <img src="images/logo.png" alt="Altrüus">
        </a>
        <div class="header__burger visible-xs">
            <div class="burger"><span></span></div>
        </div>
        <nav class="header__nav">
            <ul>
                <li><a href="#components">Features</a></li>
                <li><a href="#features">Why Altrüus?</a></li>
                <li><a href="#pricing">Pricing</a></li>
            </ul>
        </nav>
    </div>
</header>